<h1>Index Posts!</h1>

<ul>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <li>
        <h2><%= post.title %></h2>
        <p>By: <%= current_user.email if user_signed_in? %></p>
      </li>
    <% end %>
  <% else %>
    <li>No posts available here</li>
  <% end %>
</ul>
